<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>{% block page_title %}{% endblock %}</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/custom.css' %}">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    
<!--    {% block head_js %}-->
<!--    {% endblock head_js %}-->
<!--</head>-->

<!--<body>-->
<!--    <nav>-->
<!--        <div class="nav-wrapper">-->
<!--            <a href="{% url 'index' %}" class="brand-logo center">DIY</a>-->
<!--            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
<!--            <ul id="dropdown1" class="dropdown-content">-->
<!--                <li><a href="{% url 'members_home' %}">Member's Home</a></li>-->
<!--                <li><a href="{% url 'get_posts' %}">Message Board</a></li>-->
<!--                <li><a href="{% url 'profile' %}">Profile</a></li>-->
<!--                <li><a href="{% url 'products' %}">Paid Features</a></li>-->
<!--                <li><a href="{% url 'checkout' %}">Checkout</a></li>-->
<!--            </ul>-->
<!--            <ul class="left hide-on-med-and-down">-->
<!--                <li><a href="{% url 'get_content' %}">Blog</a></li>-->
<!--                {% if user.is_authenticated %}-->
<!--                    <li><a class="dropdown-trigger" href="{% url 'members_home' %}" data-target="dropdown1">Member's Area<i class="material-icons right">arrow_drop_down</i></a></li>-->
<!--                    <li><a href="{% url 'logout' %}">Log Out</a></li>-->
<!--                {% else %}-->
<!--                    <li><a href="{% url 'login' %}">Log In</a></li>-->
<!--                    <li><a href="{% url 'register' %}">Register</a></li>-->
<!--                    <li><a href="{% url 'non_members_home' %}">Member's Area</a></li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--            <ul class="right hide-on-med-and-down">-->
<!--                <li><a href="{% url 'search_page' %}">Search</a></li>-->
<!--                <li>-->
<!--                <a href="{% url 'view_cart' %}">-->
<!--                    <i class="material-icons">shopping_cart</i>-->
<!--                            {% if product_count > 0 %}-->
<!--                            <label class="badge badge-warning">{{ product_count }}-->
<!--                            {% endif %}-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
    
<!--    <ul class="sidenav" id="mobile-demo">-->
<!--        <li><a href="{% url 'get_content' %}">Blog</a></li>-->
<!--        <li><a class="nav-item nav-link" href="{% url 'products' %}">Future Projects</a></li>-->
<!--        {% if user.is_authenticated %}-->
<!--            <li><a href="{% url 'members_home' %}">Member's Area</a></li>-->
<!--            <li><a href="{% url 'logout' %}">Log Out</a></li>   -->
<!--        {% else %}-->
<!--            <li><a href="{% url 'login' %}">Log In</a></li>-->
<!--            <li><a href="{% url 'register' %}">Register</a></li>-->
<!--            <li><a href="{% url 'non_members_home' %}">Member's Area</a></li>-->
<!--            {% endif %}-->
<!--            <li>-->
<!--                <form "{% url 'search' %}" method="get">-->
<!--                    <div class="input-field">-->
<!--                        <input id="search" type="text" aria-label="Search" placeholder ="Search" name="q" required>-->
<!--                    </div>-->
<!--                </form>-->
<!--    </ul>-->
    
<!--    {% if messages %}-->
<!--        <div class="alert alert-success">-->
<!--            <div class="messages">-->
<!--                {% for message in messages %}-->
<!--                    {{ message }}-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    {% endif %}-->

<!-- {% block content %}-->
 
<!-- {% endblock %}-->
 
<!--<script type="text/javascript">-->
<!--$(document).ready(function(){-->
<!--    $('.sidenav').sidenav();-->
<!--  });-->
<!--$(".dropdown-trigger").dropdown();-->
<!--</script>-->
<!--</body>-->

<!--</html>-->









    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom scripts for this template -->
    







    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/clean-blog.min.css' %}">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

{% block content %}
<title> Home </title>
<h1> Home </h1>
<p>Highlights of blog will go here.</p>


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Clean Blog</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 18, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Science has not yet mastered prophecy
              </h2>
              <h3 class="post-subtitle">
                We predict too much for the next year and yet far too little for the next ten.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Failure is not an option
              </h2>
              <h3 class="post-subtitle">
                Many say exploration is part of our destiny, but it’s actually our duty to future generations.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on July 8, 2018</p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
    
    
    
    {% endblock %}

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>



  </body>

</html>





    name = models.CharField(max_length=254, default='')
    strap = models.TextField(default='')
    description = models.TextField(default='')
    upvotes = models.IntegerField(default='0')
    target = models.DecimalField(max_digits=6, decimal_places=2, default='0.00')
    tag = models.CharField(max_length=30, blank=True, null=True, default='')
    remaining = models.DecimalField(max_digits=6, decimal_places=2, default='0.00')
    tribute = models.DecimalField(max_digits=6, decimal_places=2, default='0.00')
    image1 = models.ImageField(upload_to="img", blank=True, null=True, default='')
    image2 = models.ImageField(upload_to="img", blank=True, null=True, default='')
    
    
    
    
    
        created_date = models.DateTimeField(auto_now_add=True)
        
        
        
        
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
    
    <div class="panel-body">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image1 }}')"></div>
        
        <h3>{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <p>{{ product.tribute }}</p>
        
        <form method="post" action="{%url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form>
    </div>
</div>









 strap = models.TextField(default='')
    description = models.TextField(default='')
    upvotes = models.IntegerField(default='0')
    target = models.DecimalField(max_digits=6, decimal_places=2, default='0.00')
    tag = models.CharField(max_length=30, blank=True, null=True, default='')
    remaining = models.DecimalField(max_digits=6, decimal_places=2, default='0.00')
    tribute = models.DecimalField(max_digits=6, decimal_places=2, default='0.00')
    image1 = models.ImageField(upload_to="img", blank=True, null=True, default='')
    image2 = models.ImageField(upload_to="img", blank=True, null=True, default='')
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
             <p class="small-text">Target Tribute: £{{ product.target }}</p>
             <p class="small-text">Amount Remaining: £{{ product.remaining }}</p>
             <p class="small-text">Suggested Tribute: £{{ product.tribute }}</p>
        
        <form method="post" action="{%url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="DecimalField" min="1" max="999" class="form-control" placeholder="Tribute Amount">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form>
    
    
    
    
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 18, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Science has not yet mastered prophecy
              </h2>
              <h3 class="post-subtitle">
                We predict too much for the next year and yet far too little for the next ten.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2018</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Failure is not an option
              </h2>
              <h3 class="post-subtitle">
                Many say exploration is part of our destiny, but it’s actually our duty to future generations.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on July 8, 2018</p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    {% else %}
    <p align="center">
       There is nothing in your cart. <a href="{% url 'products' %}">Please add some products.</a>
    </p>
{% endif %}



background-image: url('{{MEDIA_URL}}{{product.image}}')">









def do_search(request):
    products = Product.objects.filter(Q(name__icontains=request.GET['q']) | Q(strap__icontains=request.GET['q']) | Q(description__icontains=request.GET['q']))
    posts = Post.objects.filter(Q(title__icontains=request.GET['q']) | Q(content__icontains=request.GET['q']))
    content = Content.objects.filter(Q(title__icontains=request.GET['q']) | Q(strapline__icontains=request.GET['q']) | Q(article__icontains=request.GET['q']))
    return render(request, "products.html", {"products":products}, {"posts":posts}, {"content":content})