{% extends 'base.html' %}

{% block content %}

<body>
    
     <!-- Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Reset your Password</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>
    
    <!--Displays any messages, if there are any-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% if messages %}
                <div class="messages-box">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
       
        <!--Main content-->
        <div class="row">
            <div class="col-12">
                {% if validlink %}
                <p>Choose your new password.<br>
                Please enter your password twice to ensure it is correct.
                </p>
                <form method="POST" class="accountform">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Change my password" /></td>
                        </tr>
                    </table>
                </form>
                {% else %}
                <h1>Password reset unsuccessful</h1>
                <p>We were unable to change your password, <br>
                this may be because the password has already been used.
                Please try again, and request a new password reset link.</p>
                {% endif %}
            </div>
        </div>
    </div>

</body>

{% endblock %}