{% autoescape off %}

Hello. This is a password re-set email from {{ site_name }}.

You are receiving this email because you requested to re-set your account password.

To do this, follow this link and choose your new password:

{% block reset_link %}
{{ protocol }}://{{ domain }} {% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Incase you have forgotten, your username is: {{ user.username }}

Thanks for visiting our website.

From the team at {{ site_name }}.

{% endautoescape %}