{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

     <!--Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Project Submission</h1>
              <span class="subheading">Submit your suggestions for future projects.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>
  
  <body>
  
    <!--Displays any messages, if there are any-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% if messages %}
            <div class="messages-box">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      
      <!--Generates form to allow users to submit posts-->
      <div class="row">
        <div class="col-12">
          <span class="text-center">
            <h1>Project Sugestion</h1>
          </span>
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form | as_bootstrap }}
              <button type="submit" class="btn btn-info custom-btn">Save</button>
          </form>
        </div>
      </div>
    
  </body>
{% endblock %}