{% extends 'base.html' %}
{% block content %}

     <!--Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      
      
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Member's Project Submissions</h1>
              <span class="subheading">Submit your suggestions. The ones with the most upvotes will be attempted.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>

      {% if messages %}
        <div class="messages-box">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}

     <!--Main Content -->
      <div class="custom-create-post">
        <a href="{% url 'new_post' %}" class="btn btn-custom-post">Submit your project suggestions</a>
      </div>
      

 
<div class="container">
  <div class="row">
    {% for post in posts %}
    <div class="col-md-6 custom-post-preview">
       <p><h1 class="text-center">
                {{ post.title }}
            </p></h1>
            <p class="text-center">
              <span>{{ post.content | truncatewords:15 }} </span>
            </p>
            <p>
              <strong>Posted by:</strong> {{ post.user }}
            </p>
            <p  class="text-right">
              <a href="{% url 'post_detail' post.id %}"><i>Read More</i></a>
            </p>
    </div>
  {% endfor %}
  </div>
</div> 
 
</body>
   
{% endblock %}