{% extends "base.html" %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Premium Content</h1>
              <span class="subheading">Have your say and shape our future content</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
    
    <div class="custom-messages">
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    </div>
       

    <!-- Main Content -->
    <div class="panel panel-default custom-detail-panel">
        <div class="product-panel-body">
            <div class="row">
                {% if post.image %}
                    <img class="img-productpost" src="{{MEDIA_URL}}{{product.image}}">
                {% endif %}
            </div>
            <div class="product-introduction">
                <h2>{{ post.title }}</h2>
            </div>
            <p> {{ post.content }} </p>
            
            <p>Posted by: {{post.user }}</p>
                <p>Project published on: {{ post.published_date }}</p>
                <p>Number of views: {{ post.views }}</p>
                <p>Project status: {{ post.get_status_display }}</p>
                <p>Number of upvotes: {{post.votes }}</p>
                
                <p>
                  <a href="/posts/upvote/{{ post.id }}">
                  Click here to upvote this project.
                  </a>
                </p>
    
    </div>
    </div>
    
    <a class="btn btn-primary" href="{% url 'get_posts' %}">Back</a>
    
  </body>
   
     
                
{% endblock %}