/*Buttons*/


.custom-btn {
    margin: 10px;
}

 .btn-custom-more {
     background-color: #c6538c;
     border-color: #c6538c;
     color: white;
     position: absolute;
     left: 30%;
 }
 
  .btn-custom-more:hover {
     background-color: #993366 !important;
     border-color: #993366 !important;
 }

 .btn-custom-post {
    background-color: #c6538c;
    border-color: #c6538c;
    color: white;
    position: static;
    width: 100%;
    padding: 10px;
    margin: 10px;
 }


.button-wrap {
 text-align: center;
}

.btn-product {
    height: 38px;
    width: 100px;
    padding: 0px;
}

.btn-post {
    left: 40%;
}
 
 
 
 /*Text*/
 
 .small-text {
     font-size: 13px;
 }
 
 .text-center {
     text-align: center;
 }
 
 .text-right {
     text-align: right;
 }
 

 /*Ecommerce*/
 
.custom-product-preview {
    border: 1px solid grey;
    margin: 15px;
}

.custom-detail-panel {
     border: 1px solid grey;
     padding: 10px;
     margin: 10px;
}

.img-product {
    height: 400px;
    width: 400px;
}



/*Search*/

.container-search {
    text-align: center;
    margin: 20px;
}

/*Posts*/

.custom-post-preview {
    border: 1px solid grey;
    margin: 10px;
    padding: 5px;
}



/*Base*/

.messages-box {
    border: 1px solid grey;
    text-align: center;
    margin: 10px;
}


/*Cart*/

.custom-checkout {
    text-align: center;
}

.input-group-addon {
    padding: 5px;
}

/*About*/

.img-about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
}


.about-title {
    text-align: center;
    font-size: 100px;
}


/*Content*/

 .product-introduction {
     text-align: center;
 }
 
 .img-content {
     height: 350px;
     width: 350px;
 }
 
 .img-rows {
     text-align: center;
 }
 
  .img-content-small {
     height: 150px;
     width: 150px;
     border-radius: 50%;
 }
 
 .content-subtitle {
     font-size: 27px;
 }
 
 .custom-content-preview {
     border: 1px solid grey;
 }
 
 
 /*Index*/
 
 .img-index {
    height: 200px;
    width: 200px;
 }