{% extends "base.html" %}
{% block content %}

  <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blog</h1>
              <span class="subheading">A lifestyle blog for people who like to do things their own way</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
    
    <div class="custom-messages">
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    </div>
      
    <!-- Main Content -->
    <div class="panel panel-default custom-detail-panel">
        <div class="product-panel-body">
            <div class="row">
                {% if content.image1 %}
                    <img class="img-productpost" src="/media/{{ content.image1 }}">
                {% endif %}
                {% if content.image2 %}
                    <img class="img-productpost" src="/media/{{ content.image2 }}">
                {% endif %}
                {% if content.image3 %}
                    <img class="img-productpost" src="/media/{{ content.image3 }}">
                {% endif %}
                {% if content.image4 %}
                    <img class="img-productpost" src="/media/{{ content.image4 }}">
                {% endif %}
            </div>
            <div class="product-introduction">
                <h2>{{ content.title }}</h2>
            </div>
            <p> {{ content.strapline }} </p>
            <p>{{ content.article }} </p>
                <p>Project published on: {{ content.published_date }}</p>
                <p>Number of views: {{ content.views }}</p>
    
    </div>
    </div>
    
    <a class="btn btn-primary" href="{% url 'get_content' %}">Back</a>
    
  </body>
   

{% endblock %}

