{% extends 'base.html' %}

{% block page_title %} Do Life Yourself - the Lifestyle Blog {% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blog</h1>
              <span class="subheading">A lifestyle blog for people who like to do things their own way</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
    
    <div class="custom-messages">
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    </div>
  
   <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for content in contents %}
          <div class="post-preview">
            <a href="{% url 'content_detail' content.id %}">
              <h2 class="post-title">
                {{ content.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ content.strapline }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Sarah</a> on
              {{ content.published_date }}</p>
          </div>
          <hr>
          {% endfor %}
      </div>
    </div>


  </body>


 {% endblock %}







