{% extends 'base.html' %}

{% block page_title %} Do Life Yourself - the Lifestyle Blog {% endblock %}

{% block content %}

  <body>
    
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blog</h1>
              <span class="subheading">A lifestyle blog for people who like to do things their own way</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--Displays any messages, if there are any-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% if messages %}
            <div class="messages-box">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
  
   <!--Main content-->
   <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for content in contents %}
          <div class="post-preview custom-content-preview">
            <a href="{% url 'content_detail' content.id %}">
              <h1 class="text-center">
                {{ content.title }}
              </h1>
              <div class="row row-flex">
                <div class="col-xs-12 col-s-4 col-md-4 col-lg-4 text-center">
                  <img class="img-content-small" src="/media/{{ content.image1 }}">
                </div>
                <div class="col-xs-12 col-s-8 col-md-8 col-lg-8 text-center">
                  <p class="content-subtitle">
                    {{ content.strapline }}
                  </p>
                 <i><p>Posted by Sarah on
                    {{ content.published_date }}</p></i>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
      </div>
    </div>


  </body>


 {% endblock %}







