{% extends "base.html" %}
{% block content %}
 
  <body>

  <!-- Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blog</h1>
              <span class="subheading">A lifestyle blog for people who like to do things their own way</span>
            </div>
          </div>
        </div>
      </div>
    </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        
        <!--Displays any messages, if there are any-->
        {% if messages %}
          <div class="messages-box">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
      
    <div class="row">
        <!-- Main Content -->
        <div class="col-12 panel panel-default custom-detail-panel">
            <div class="product-panel-body">
              <div class="img-rows">
                    {% if content.image1 %}
                        <img class="img-content" src="/media/{{ content.image1 }}">
                    {% endif %}
                    {% if content.image2 %}
                        <img class="img-content" src="/media/{{ content.image2 }}">
                    {% endif %}
                    {% if content.image3 %}
                        <img class="img-content" src="/media/{{ content.image3 }}">
                    {% endif %}
                    {% if content.image4 %}
                        <img class="img-content" src="/media/{{ content.image4 }}">
                    {% endif %}
                </div>
                <div class="product-introduction">
                  <p>
                    <h1>{{ content.title }}</h1>
                  </p>
                  <p>
                    <h2> {{ content.strapline }} </h2>
                  </p>
                </div>
                  
                <p>{{ content.article | linebreaks }} </p>
                    <strong><p>Project published on:</strong> {{ content.published_date }}</p>
                    <strong><p>Number of views: </strong>{{ content.views }}</p>
        
              </div>
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-12">
        <a class="btn btn-primary custom-btn" href="{% url 'get_content' %}">Back</a>
      </div>
    </div>
  </div>
    
  </body>
   

{% endblock %}

