{% extends 'base.html' %} 
{% load staticfiles %}

 {% block page_title %} Do Life Yourself - the Lifestyle Blog {% endblock %}

 {% block content %}
 
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Do <i>Life</i> Yourself</h1>
              <span class="subheading">A lifestyle blog for people who do things their own way</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
    
      {% if messages %}
        <div class="messages-box">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
   


    <!-- Main Content -->
   
   <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="container">
            <img class="img-index" src="/media/img/host/blog.jpg">
          </div>
        </div>
      </div>  
   </div>
   
   
  </body>


 {% endblock %}

