{% extends 'base.html' %}
{% load bootstrap_tags %}

 {% block page_title %} Do Life Yourself - Log In {% endblock %}

 {% block content %}
 
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Log In</h1>
              <span class="subheading">Access our Member's Area</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>
  
  
  
  <body>
    
    <!--Displays any messages, if there are any-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% if messages %}
            <div class="messages-box">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      
      <!-- Main Content -->
      <div class="row">
        <div class="col-12">
          <form method="POST">
              {% csrf_token %}
              {{ login_form | as_bootstrap }}
              <button type="submit" class="btn custom-btn">Login</button>
          </form>
        </div>
        <div class="col-12">
          <p>
            <a href="{% url 'password_reset' %}" class="btn custom-btn">Reset Password</a>
          </p>
        </div>
      </div>
    </div>
    
  </body>

 {% endblock %}