{% extends 'base.html' %}
{% load bootstrap_tags %}

 {% block page_title %} Do Life Yourself - Log In {% endblock %}

 {% block content %}
 
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Log In</h1>
              <span class="subheading">Access our Member's Area</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
    
      {% if messages %}
        <div class="messages-box">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
   
    <!-- Main Content -->
    <form method="POST">
    {% csrf_token %}
        {{ login_form | as_bootstrap }}
    <button type="submit" class="btn btn-default">Login</button>
</form>

<p><a href="{% url 'password_reset' %}">Reset Password</a></p>

 {% endblock %}