{% extends 'base.html' %} 
 
 {% block page_title %} Do Life Yourself - Member's Home Page {% endblock %}

 {% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Member's Corner</h1>
              <span class="subheading">Welcome!</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
    
    <!--Displays messages, if there are any-->
    <div class="containter-fluid">
      <div class="row">
        <div class="col-12">
          {% if messages %}
            <div class="messages-box">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{% url 'products' %}">
              <h2 class="post-title">
                <i class="fas fa-shopping-basket"></i>
                Premium Projects
              </h2>
              <h3 class="post-subtitle">
                Shape our content by pledging your support for the projects you really want to see next. All projects that reach their target will be completed.
              </h3>
            </a>
            <p class="post-meta">
              <a href="{% url 'products' %}">Enter our premium area.</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="{% url 'get_posts' %}">
              <h2 class="post-title">
                <i class="fas fa-comments"></i>
                Member's Projects
              </h2>
              <h3 class="post-subtitle">
                A space for members to suggest projects, and upvote other suggestions. The most popular projects will be attempted!
              </h3>
            </a>
            <p class="post-meta">
              <a href="{% url 'get_posts' %}">Enter our anonymous community.</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="{% url 'view_cart' %}">
              <h2 class="post-title">
                <i class="fas fa-shopping-cart"></i>
                Cart
              </h2>
              <h3 class="post-subtitle">
                View your shopping cart, and pay for your pledges.
              </h3>
            </a>
            <p class="post-meta">
              <a href="{% url 'view_cart' %}">Enter our secure payment zone.</p>
          </div>
        </div>
      </div>
    </div>
  </body>


 {% endblock %}

