{% extends 'base.html' %} 
 
 {% block page_title %} Do Life Yourself - Member's Home Page {% endblock %}

 {% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Member's Corner</h1>
              <span class="subheading">Welcome!</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
   


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="{% url 'products' %}">
              <h2 class="post-title">
                <i class="fas fa-shopping-basket"></i>
                Premium Content
              </h2>
              <h3 class="post-subtitle">
                Shape our upcoming features, by voting for future content and supporting our endeavours.
              </h3>
            </a>
            <p class="post-meta">
              <a href="{% url 'products' %}">Enter our premium area.</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="{% url 'get_posts' %}">
              <h2 class="post-title">
                <i class="fas fa-comments"></i>
                Message Board
              </h2>
              <h3 class="post-subtitle">
                A space to share ideas with like-minded individuals.
              </h3>
            </a>
            <p class="post-meta">
              <a href="{% url 'get_posts' %}">Enter our anonymous and supportive community.</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="{% url 'view_cart' %}">
              <h2 class="post-title">
                <i class="fas fa-shopping-cart"></i>
                Cart
              </h2>
              <h3 class="post-subtitle">
                View your shopping cart, and pay for items.
              </h3>
            </a>
            <p class="post-meta">
              <a href="{% url 'view_cart' %}">Enter our secure payment zone.</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="{% url 'profile' %}">
              <h2 class="post-title">
                <i class="fas fa-user"></i>
                Profile
              </h2>
              <h3 class="post-subtitle">
                View your membership profile.
              </h3>
            </a>
            <p class="post-meta">
              <a href="{% url 'profile' %}">Enter your personal profile page</p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
  </body>


 {% endblock %}

