{% extends 'base.html' %} 

 {% block page_title %} Do Life Yourself - Member's Home Page {% endblock %}

 {% block content %}
 
   <body>
 
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Member's Corner</h1>
              <span class="subheading">A space to share ideas</span>
            </div>
          </div>
        </div>
      </div>
    </header>


    
    <!--Displays any messages, if there are any-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% if messages %}
            <div class="messages-box">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
             <h2 class="post-title">
               <strong>Sorry, but you do not currently have access to the Member's Corner.</strong>
             </h2>
             <h3 class="post-subtitle">
               <i>You are missing out on our creative community of like-minded individuals, and the chance to shape our upcoming content.</i> 
             </h3>
            <p class="post-meta">Log in, or sign up for free today.</p>
          </div>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary custom-btn" href="{% url 'register' %}">Register</a>
            <a class="btn btn-primary custom-btn" href="{% url 'login' %}">Log In</a>
          </div>
        </div>
      </div>
    </div>

  </body>


 {% endblock %}

