{% extends 'base.html' %}
{% load bootstrap_tags %}

 {% block page_title %} Do Life Yourself - {{user}}'s Profile {% endblock %}

 {% block content %}
 
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{user}}'s Profile</h1>
              <span class="subheading">View your profile page</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
   
    <!-- Main Content -->
    
    
      {% if messages %}
        <div class="messages-box">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
      
<p>
    <b>User's email:</b> {{ profile.email }}
</p>

 {% endblock %}