{% extends 'base.html' %} 

 {% block page_title %} Do Life Yourself - Project Progress {% endblock %}

 {% block content %}
 
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Project Progress</h1>
              <span class="subheading">See how we're getting along with our projects</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
   


    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
             <h2 class="post-title">
               <strong>Sorry, but you do not currently have access to the Member's Corner.</strong>
             </h2>
             <h3 class="post-subtitle">
               <i>You are missing out on our creative community of like-minded individuals, and the chance to shape our upcoming content.</i> 
             </h3>
            <p class="post-meta">Log in, or sign up for free today.</p>
          </div>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary custom-btn" href="{% url 'register' %}">Register</a>
            <a class="btn btn-primary custom-btn" href="{% url 'login' %}">Log In</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
  </body>


 {% endblock %}
