{% extends 'base.html' %}
{% load bootstrap_tags %}

 {% block page_title %} Do Life Yourself - Member Registration {% endblock %}

 {% block content %}
 
   <body>
     
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/media/img/host/background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Registration</h1>
              <span class="subheading">Join our inner circle</span>
            </div>
          </div>
        </div>
      </div>
    </header>

  <body>
    
    <!--Displays any messages, if there are any-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% if messages %}
            <div class="messages-box">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      
       <!-- Main Content -->
      <div class="row">
        <div class="col-12">
          <form method="POST">
              {% csrf_token %}
              {{ registration_form | as_bootstrap }}
              <button type="submit" class="btn custom-btn">Register</button>
          </form>
        </div>
      </div>
    </div>
    
  </body>


 {% endblock %}