{% extends 'base.html' %} 
{% load staticfiles %}
 
 {% block page_title %} Do Life Yourself - Member's Home Page {% endblock %}

 {% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Premium Content</h1>
              <span class="subheading">Have your say and shape our future content</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>

      {% if messages %}
        <div class="messages-box">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}

    <!-- Main Content -->
    <div class="container-search">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    
     <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto product-">
          {% for product in products %}
          <div class="post-preview custom-product-preview">
              <h1 class="text-center">
                {{ product.name }}
              </h1>
              <div class="row row-flex">
                <div class="col-xs-12 col-s-4 col-md-4 col-lg-4 text-center">
                  <img class="img-content-small" src="/media/{{ product.image }}">
                </div>
                <div class="col-xs-12 col-s-8 col-md-8 col-lg-8 text-center">
                  <p class="content-subtitle">
                    {{ product.strap }}
                  </p>
                  <p>
                    <a href="{% url 'product_detail' product.id %}"><i>Read More</i></a>
                  </p>
                </div>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>

 {% endblock %}