{% extends 'base.html' %} 
 
 {% block page_title %} Do Life Yourself - Member's Home Page {% endblock %}

 {% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Premium Content</h1>
              <span class="subheading">Have your say and shape our future content</span>
            </div>
          </div>
        </div>
      </div>
    </header>
  </head>

  <body>
   
   

    <!-- Main Content -->
      <div class="row row-flex">
      {% for product in products %}
          <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body custom-product-panel">
              <img src=" url('{{ STATIC_URL }}{{ product.image }}')"></img>
                <div class="product-title">
                  <h2 class="product-title"> {{ product.name }} </h2>
                </div>
                <p class="product-strap"> {{ product.strap }} </p>
                <div class="button-wrap">
                  <a href="{% url 'product_detail' product.id %}" class="btn btn-custom-more">Read More</a>
                </div>
            </div>
          </div>
      {% endfor %}
      </div>
  </body>

 {% endblock %}